.container-image{ 
  width: 100%;
  display: flex;
  justify-content: center;
  }

  /* .container-image{
    grid-column-gap: var(--column-gutter);
    align-items: start;
    display: grid;
    grid-template-columns: repeat(var(--columns),minmax(0,1fr));
  } */

  .parent-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container-skeleton{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }
  .scroll{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }